# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
node_modules/
.cache/
.directory
/dist/

# Папка с собранными файлами проекта
# build/
