.DS_Store
node_modules
/dist


# Файлы редактора
.idea
.vscode

# Вспомогательные файлы
node_modules/
.cache/
.directory

#psd
src/img/logo.psd
public/favicon.psd

# Папка с собранными файлами проекта
dist/
