body {
  margin: 0;
}
.theme-dark {
  --background: #0f1416;
  --background2: #161b1d;
  --bg-head-and-lvl: #090e10;
  --border-color: #25262e
}
table {
  width: 100%;
  background: var(--background);
  border-spacing: 0;
  color: #c9cfd3;
  text-align: center;
}
th, td {
  padding: 8px 10px;
  line-height: 16px;
  font-size: 90%;
}

th {
  background: var(--bg-head-and-lvl);
  padding-top: 10px;
  border-bottom: 2px solid var(--border-color);
}
th:first-child {
  border-bottom: none;
}

td:nth-child(2) {
  border-left: 3px solid var(--border-color);
}
td {
  vertical-align: center;
  border: 1px solid var(--border-color);
}
td:first-child {
  width: 1%;
  background: var(--bg-head-and-lvl);
}
tbody tr:nth-child(even) {
  background: var(--background2);
}
.rowspaned {
  background: var(--background);
}
