@import "./icons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #101415;
    font-family: "Noto Sans", sans-serif;
    margin: 10% 5% 5%;
}

.index-page {
    padding: 10% 10% 2% 10%;
}
.index-page > div {
    background-color: #161b1d;
    box-shadow: 0 0 10px 5px #20282b;
}
.container-name {
    color: white;
    font-size: 200%;
    padding: 2%;
    text-align: center;
    font-weight: bold;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    clear: both;
}
.item {
    width: 17%;
    height: 250px;
    margin: 10px;
    background-color: #1b2325;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: 0.5s;
}
.item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 1px 1px #000000, 2px 2px #000000, 3px 3px #000000, 4px 4px #000000,
    5px 5px #000000, 6px 6px #000000, 7px 7px #000000;
    transform: translateX(-7px);
    transition: 0.5s;
    background-color: #1f282b;
}
.item-text {
    height: 90px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    font-size: 17px;
    color: white;
    position: absolute;
    top: 150px;
    padding: 5%;
}
.item-icon {
    bottom: 100px;
    position: absolute;
}
.item-icon > span {
    display: block;
    width: 60px;
    height: 60px;
    background-size: auto 60px;
    background-repeat: no-repeat;
    background-position: center;
}
.item-link {
    display: contents;
}

.item-icon > .icon-background {
    width: 90px;
    height: 90px;
    background-size: auto 80px;
}
.item-icon > .icon-background > .icon {
    width: 50px;
    height: 50px;
}
.art-bg {
    background-image: url(../img/artifact_background.png);
    opacity: 0.9;
}

@media screen and (max-width: 960px) {
    .item {
        width: 100%;
        height: 80px;
        flex-direction: row;
        position: relative;
        margin: 5px;
    }
    .item-icon > .icon-background {
        width: 50px;
        height: 50px;
        background-size: auto 40px;
    }
    .item-icon > .icon-background > .icon {
        width: 20px;
    }
    .item-icon {
        position: absolute;
        right: 80%;
        bottom: 20%;
    }
    .item-icon > span {
        width: 45px;
        height: 45px;
        background-size: auto 45px;
    }
    .item-text {
        position: static;
        width: 60%;
    }
}