* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    padding: 50px 0 1%;
    color: #ccd7de;
    text-align: center;
}
#title {
    padding: 50px;
    color: #a2a7aa;
    text-align: center;
    font-size: 250%;
}
h1 {
    color: #a2a7aa;
    text-align: center;
    font-size: 250%;
}
body {
    margin: 5%;
    background-color: #101415;
    font-family: "Noto Sans", sans-serif;
    position: relative;
}
html,
body {
    overflow-x: hidden;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    opacity: 0.8;
}

/*==================================================================
[ Ссылки списка ]*/
a {
    color: #176da3;
    text-decoration: none;
}
a:hover {
    color: #16bde7;
    text-decoration: underline;
}
a:active {
    color: #a33f17;
}

/*//////////////////////////////////////////////////////////////////
[ Кнопка наверх ]*/
/* TODO добавить анимацию появления */
#btn-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #313033;
    z-index: 9999;
    opacity: 0.8;
    background-image: url(../img/icons/top.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    cursor: pointer;
}
#btn-top:hover {
    background-color: #454347;
    opacity: 1;
}

/*==================================================================
[ Адаптация ]*/
@media screen and (max-width: 1062px) {
    /*использовать прокрутку */
    .gTable-stats {
        overflow: auto;
    }
    th {
        /*открепить шапку*/
        position: relative;
    }
    body {
        margin: 5% 1% 1%;
    }
}
@media screen and (max-width: 550px) {
    header {
        width: 100%;
        height: 60px;
        top: 0;
    }
    .index-page {
        padding: 18% 0 2% 0;
    }
    #buttonLangs {
        top: 15%;
        width: 50px;
        right: 10%;
    }
    .logo {
        background-size: 40%;
    }
}
