$reset-button-colors: (
        "all": #a90000,
        "plan": #cca814,
);

.reset-buttons {
  display: flex;
  justify-content: end;
  gap: 10px;
  font-size: 90%;

  // source: https://codepen.io/alticreation/pen/zBZwOP

  button {
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 100%;
    transition: all 0.3s;
    position: relative;
    border: none;
    z-index: 1;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -2;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 100%;
      transition: all 0.3s;
      z-index: -1;
    }

    &:hover:before {
      width: 100%;
    }

    @each $name, $color in $reset-button-colors {
      &[name="#{$name}"] {
        &:after {
          background-color: $color
        }
        &:before {
          background-color: darken($color, 15%);
        }
      }
    }
  }
}

.hide {
  visibility: hidden;
}
.none {
  display: none;
}
.yellow-color {
  color: #fff19f;
  white-space: nowrap;

  &.plus {
    &:before {
      content: " + ";
    }
  }

}
.green-color {
  color: #1e7e34;
}
.muffle {
  opacity: 0.5;
}
