@import "../style/vars";

.sections-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: #131a1c;
  padding: 2%;
  border-radius: 10px;
  margin: 1% 2%;
  gap: 20px 0;
  --icon-size: 90px;

  @media screen and (max-width: 1800px){
    --icon-size: 80px;
  }
  @media screen and (max-width: 1600px){
    --icon-size: 75px;
  }
  @media screen and (max-width: 1500px){
    --icon-size: 70px;
  }
  @media screen and (max-width: 1111px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 700px){
    grid-template-columns: repeat(1, 1fr);
  }
  @media screen and (max-width: 420px){
    --icon-size: 50px;
  }

  .type {
    width: max-content;
    margin: 0 auto;

    h3 {
      margin-bottom: 4%;
    }
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 24px;

      @media screen and (max-width: 1300px){
        grid-gap: 12px;
      }

      .item {
        list-style: none;
        width: var(--icon-size);
        cursor: pointer;
        position: relative;

        .mute {
          opacity: .6;
        }

        .level {
          position: absolute;
          top: 70%;
          right: 0;
          font-size: 130%;
          width: 30px;
          height: 28px;
          background-color: $border-color;
          color: $background;
          text-align: center;
          border-radius: 5px;
          padding-top: 2px;

          @media screen and (max-width: 960px){
            font-size: 100%;
            width: 20px;
            height: 20px;
            top: 50%;
          }
        }
      }
    }
  }
}

.other {
  flex-direction: row;
}