.topic {
  padding: 2%;
  text-align: center;
  font-size: 250%;
}

.link-topic {
  color: #ccd7de;
}
.portrait-container {
  margin-top: 4%;
  padding-bottom: 2%;
  position: relative;
  text-align: center;

  @media screen and (max-width: 1000px) {
    margin-top: 10%;
  }

  .portrait {
    margin-top: -4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 0.9;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 40%, transparent 100%);

    @media screen and (max-width: 600px) {
      margin-top: -10%;
    }
  }
  .topic {
    font-size: 300%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e0e8ee;
    text-shadow: 5px 5px 0 #000d2f;

    @media screen and (max-width: 1000px) {
      top: 50%;
      font-size: 230%;
      white-space: normal;
    }
  }
}
