.topic {
  padding: 2%;
  text-align: center;
  font-size: 250%;
}

.link-topic {
  color: #ccd7de;
}
.portrait-container {
  margin-top: 2%;
  padding-bottom: 1%;
  position: relative;
  text-align: center;

  .portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 0.9;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 40%, transparent 100%);
  }
  .topic {
    font-size: 300%;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e0e8ee;

    @media screen and (max-width: 1000px) {
      font-size: 250%;
      white-space: nowrap;
    }
  }
}
