@import "../style/vars";

$accent-color: #aee3fc;

$button-colors: (
    "green": #5ca109,
    "yellow": #cca814,
    "red": #a90000,
    "accent": $accent-color,
);


.select {
  margin-bottom: 7%;

  .name {
    font-size: 120%;
    padding-bottom: 2%;
  }

  select {
    width: 100%;
    background: $background-elements;
    border: $accent-color solid 2px;
    border-radius: 5px;
    padding: 2%;
    font-size: 130%;
  }
}

.input {
  margin-bottom: 7%;
  padding-right: 3%;

  .name {
    font-size: 120%;
    padding-bottom: 2%;
  }

  input {
    width: 100%;
    background: $background-elements;
    border: $accent-color solid 2px;
    border-radius: 5px;
    height: 20px;
    font-size: 125%;
    padding: 1%;
  }
}

.switch { // credits:  https://codepen.io/mburnette/pen/LxNxNg
  $size: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;

  p:last-child {
    font-size: 90%;
    opacity: .8;
  }

  .label {
    cursor: pointer;
    flex-shrink: 0;
    width: $size * 3;
    height: $size + 10px;
    border: red solid 1px;
    display: block;
    border-radius: 100px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: $size;
      height: $size;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
    }
    &:active:after {
      width: $size * 2;
    }
  }

  .checkbox {
    &[type=checkbox] {
      visibility: hidden;
    }
    &:checked + .label {
      background: #9fe5ff;
      border-color: #9fe5ff;
    }
    &:checked + .label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }
  }
}

.button {

  // source: https://codepen.io/alticreation/pen/zBZwOP

  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 100%;
  transition: all 0.3s;
  position: relative;
  z-index: 0;
  min-width: 70px;
  border-radius: 10px;
  border: solid 0;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    border-radius: 10px;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all 0.3s;
    z-index: -2;
    border-radius: 10px;
  }

  &:hover:before {
    width: 100%;
  }

  @each $name, $color in $button-colors {
    &.#{$name} {
      @if($name == 'accent') {
        color: black;
      }
      &:after {
        background-color: $color
      }
      &:before {
        background-color: darken($color, 15%);
      }
    }
  }
}
