
$background: #101415;
$background-elements: #212d31;
$text-color: #c2cdd4;

$header-default-height: 80px;
$border-color: #aee3fc;

$table: (
  "background": #1a2325,
  "background2": #131b1c,
  "border": #3a525b,
)
