.topic {
  padding: 2%;
  text-align: center;
  font-size: 250%;
}
.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  opacity: 0.9;
}
.link-topic {
  color: #ccd7de;
}
