// @import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root { // TODO переписать на SCSS переменные
    --bg: #131313;
    --text-color: #c2cdd4;
    --table-bg: #0f1416;
    --table-bg2: #090e10;
    --table-hover: #1d2326;
    --border-color: #25262e;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    color: var(--text-color);
}

body, html {
    background-color: var(--bg);
    // font-family: 'Aldrich', sans-serif;
    font-family: 'Fira Sans', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;

    &:visited, &:link {
        color: #036fa0;
    }
    &:active, &:hover  {
        color: #029be0;
        text-decoration: underline;
    }
}

h1 {
    color: #a2a7aa;
    text-align: center;
    font-size: 250%;
}
h2 {
    padding: 50px 0 1%;
    color: #ccd7de;
    text-align: center;
}
