@use "sass:list";


$types:(
        "credit"         : #fff19c url(../img/game/Resurses/credit.svg),
        "fuel"           : #ceb3ff url(../img/game/Resurses/fuel.svg),
        "сrystal"        : #9fffe4 url(../img/game/Resurses/сrystal.svg),
        "time"           : #88dac4 url(../img/icons/clock.svg),
        "flt"            : #9fe5ff url(../img/game/Resurses/flt_friendly.svg),
        "bls_fragments"  : #00c4ff url(../img/game/Resurses/blueStar_Fragments.svg),
        "influence"      : #76e6ff url(../img/game/Resurses/influence.svg),
        "mining_route"   : #9fe5ff url(../img/game/Resurses/mining_route.svg),
        "shipments"      : #76e6ff url(../img/game/Resurses/shipments.svg),
);


$-mw: 900px;

.stats-style {
  display: flex;
  justify-content: center;
  gap: 5px;

  @each $type, $value in $types {
    $color: nth($value, 1);
    $icon: nth($value, 2);

    &.#{$type} {
      color: $color;

      &:before {
        content: $icon;
        width: 15px;

        @media screen and (max-width: $-mw){
          width: 12px;
        }
      }
    }
  }
}
